CREATE DATABASE lib;
ALTER USER '{{ mysql_root_user }}'@'localhost' IDENTIFIED WITH mysql_native_password BY '{{ mysql_root_password }}';
CREATE USER '{{ dbuser }}'@'%' IDENTIFIED BY '{{ dbpassword }}';
ALTER USER '{{ dbuser }}'@'%' IDENTIFIED WITH mysql_native_password BY '{{ dbpassword }}';
GRANT ALL ON *.* TO '{{ dbuser }}'@'%';
FLUSH PRIVILEGES;